/* <<<< Import File Font >>>> */
@font-face {
    font-family: "danaBlack";
    src: url('/public/assets/font/Dana-Black.woff') format(woff);
}
@font-face {
    font-family: "danaBold";
    src: url('/public/assets/font/Dana-Bold.woff') format(woff);
}
@font-face {
    font-family: "danaMedium";
    src: url('/public/assets/font/Dana-Medium.woff') format(woff);
}

/* <<<< Root variable >>>> */
:root{
    --danaMedium : "danaMedium";
    --danaBold : "danaBold";
    --danaMedium : "danaMedium";

    --white: #ffffff;
    --bg-color: #1C1C28;
    --shadow: #2F3542;
    --primary: #4E81FB;
    --secondary: #2ED563;
    --success: #28293D;
    --green-100: #16A34A;
    --blue-100: #0EA5E9;
    --blue-200: #0284C7;
    --gary-100 : #8D94A0;
}

/* <<<< Body >>>> */
body {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--danaMedium);
    font-size: 1rem;
    line-height: 1.5;
    color: var(--white);
    background-color: var(--bg-color);
}

/* <<<< Container >>>> */
.container{
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}
/* <<<< Shadow >>>> */
.shadow{
    display: block;
    width: 100%;
    height: 100dvh;
    position: fixed;
    top: 0;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(2px);
}
/* <<<< Box >>>> */
.box{
    display: block;
    max-width: 100%;
    background-color: var(--success);
    padding: 1rem;
    border-radius: 0.6rem;
}
/* <<<< style custom swal >>>> */
.swal-modal{
    background-color: var(--shadow);
}
.swal-title{
    color: var(--white);
}
.swal-button{
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    box-shadow: none;
    background-color: var(--secondary);
   
}
.swal-button:not([disabled]):hover {
    outline: none;
    border: none;
    box-shadow: none;
    background-color: var(--green-100);
}